<% if(theme.comment.use) { %>
    <%- partial('_widget/comment/' + theme.comment.use + '/enter') %>
	<!-- UY BEGIN -->
	<div id="uyan_frame"></div>
	<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2140678"></script>
	<!-- UY END -->
<% } %>